{% extends "base/base.html" %}
{% load staticfiles %}
{% block title %} Login {% endblock %}

{% block body_content%}

<div class="ui middle aligned center aligned grid">
    <div class="column">
        <h2 class="ui pink image header">
            <img src={% static "images/online-store.png" %} class="image">
            <div class="content">
                <h1>VeciApp</h1>
            </div>
        </h2>
        <form class="ui large form" action="{% url 'tendero:user_login' %}" method="post">
            {% csrf_token %}
            <div class="ui stacked segment">
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="text" name="username" placeholder="Ingrese su usuario">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" name="password" placeholder="Ingrese su contraseña">
                    </div>
                </div>
                <input class="ui fluid large pink basic submit button" type="submit" value="Login">
            </div>


        </form>

    </div>
</div>


{% endblock %}

{% block footer%}
{% endblock %}