{% extends "base/base.html" %}
{% load staticfiles %}
{% block title %} Registro{% endblock %}

{% block body_content%}
<div class="container">
    {% if registered %}
    <h2>Gracias por registrarse. Continue usando VeciApp!</h2>
    {% else %}
    <h2 class="registrateA">¿Quieres hacer parte? ¡Registrate!</h2>

    <form class="ui equal width form" enctype="multipart/form-data" method="post">
        {% csrf_token %}

        {{ user_form.as_p }}
        {{ profile_form.as_p }}
        <input class="ui pink basic button" type="submit" value="Registrese">
    </form>

    {% endif %}
</div>

{% endblock %}

{% block footer%}
{% endblock %}